/* codigo de la navbar */

figure{
    margin: 0;
}

.header{
    display: flex;
    background-color: #1b2127; /* fondo de cierto color */
    color: white; /* color de la letra */
    text-decoration: none;
    justify-content: space-between;
    height: 70px;
    align-items: center;

}

.menu {
    height: inherit; /* hereda sus propiedad a sus hijos */
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none; /* elimina el numero */
}

.header ol {
    display: flex;
    height: inherit; /* hace que erede la propiedad a sus hijos */

}
.header ol li {
    display: flex;
    height: inherit;
}

.header a {
    display: flex;
    color:white;
    height: inherit;
    align-items: center;
    padding: 0 10px;
}