/*Reglas
Selectores
declaraciones
propiedades
valores*/

/*-------------------------------------hero-------------------------------------*/
.hero{
    display: flex;
    height: 300px;
    background-image: url('../imagenes/hero.jpg'); /* Se coloca una imagen como fondo */ 
    background-size: 500px 300px;   /* tamaño del contenedor */
    background-repeat: no-repeat;   /* no se repite la imagen de fonde */
    background-position-x: right;   /* alineación de  la imagen de fondo */
    background-color: #1b2127;      /* color de fondo */
    align-items: center;
}

/*-------------------------------------portafolio-------------------------------------*/
/*-----------------------section-----------------------*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif; /*tipo de fuente*/

}

h1{
    font-size: 40px; /*tamaño de letra*/
    font-weight: bold; /*ancho de las letras*/
    font-style: unset; /*Estilo de funete(como cursiva, etc.)*/
    letter-spacing: 10px; /*espacio entre cada letra*/
    line-height: 1.5em; /*espacio entre lineas*/
    color: white;
    margin: 0;
    /* text-transform: capitalize; */ /*si tu letras son mayusculas o minusculas*/
    /* text-decoration: underline; */ /*decorador de texto como subrayado, color, tachado, etc*/
}
h1 strong {
    color: #026fff;
}





body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

/*
para la propiedad flex;

.fex{
    display: flex;
    fex-wrap: wrap; hace que cundo yo no entren en la pantalla se coloquen en la fila de abajo
    justify-content: center; alineamiento de los elementos
    justify-content: space-between; espaciado entre los elementos, ecxepto el primero y ultimo
    justify-content: space-evenly; espaciado entre los elementos
    flex-direction: column; se alinea por columna
    align-items: center;
    


*/